<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.healthStore.product.dao.ReviewDAO">
    <insert id="insertReview" parameterType="map">
       INSERT INTO `review`
       (
          `id`
          ,`productId`
          ,`writer`
          ,`grade`
          ,`review`
          ,`createdAt`
          ,`updatedAt`
       )
       VALUES
       (
          #{productId}
          ,#{writer}
          ,#{grade}
          ,#{review}
          ,NOW()
          ,NOW()
       )
    </insert>
    
    <select id="selectReviewList" resultType="com.healthStore.product.model.Review">
       SELECT
           `id`
          ,`productId`
          ,`writer`
          ,`grade`
          ,`review`
          ,`createdAt`
          ,`updatedAt`
       FROM
          `review`
         
       
       
    </select>
    
    <select id="selectReview" parameterType="int" resultType="com.healthStore.product.model.Review">
       SELECT
           `id`
          ,`productId`
          ,`writer`
          ,`grade`
          ,`review`
          ,`createdAt`
          ,`updatedAt`
       FROM
          `review`
       WHERE
          `productId` = #{productId} 
       
       
       
    </select>
 </mapper>
 
 